# =========================
# Sistema operativo (Mac)
# =========================
.DS_Store

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos temporales
# =========================
*.tmp
*.swp

# =========================
# Node (por si luego agregas herramientas)
# =========================
node_modules/
dist/
