
* {
    box-sizing: border-box;
}

.section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

body{
    margin: 0;
    padding: 20px;
}

/* Estilo para títulos */
h1 {
    color: #3498db;
    font-size: 36px;
    text-align: center;
}

/* Estilo para párrafos */
p {
    color: #555;
    font-size: 18px;
}

/* Estilo para links */
a {
    color: #3498db;
    text-decoration: none;
}